# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# IDEs/Editors
.idea
.vscode

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

bin
build
dist
*.tar
*.zip
.DS_Store
todo.txt
